@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 12vh;
    background-color: rgb(57, 86, 139);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navegacao {
    display: flex;
    flex-direction: row;
    gap: 6vh;
    margin-left: 7vh;
    color: white;
    font-size: 2vh;
    font-family: "Jost", sans-serif;
    font-style: oblique;   
    text-decoration: underline rgb(255, 230, 0) 2.3px;
}


#imagem-logo {
    width: 10vh;
    border-radius: 100%;
    margin: 3vh;
    margin-right: 7vh;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(241, 240, 175);
    transform: scale(1.03);
}

main {
    width: 100%;
    padding: 40px 0;
    background-color: rgb(9, 56, 78);
}

main h1 {
    font-family: "Jost", sans-serif;
    font-size: 3vh;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.galeria {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.galeria img {
    width: 100%;
    height: 230px;  
    object-fit: cover;
    border-radius: 12px;
}

.galeria img:hover {
    transform: scale(1.03);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(57, 86, 139);
    color: white;
    gap: 1vh;
    font-family: "Jost", sans-serif;
}

#meu-nome {
    margin-top: 3vh;
}

#contato {
 display: flex;
 align-items: center;
 justify-content: baseline;
 flex-direction: column;
 gap:1vh;
 margin-bottom: 3vh;
}

#texto-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.texto-bloco-contato {
    margin-top: 0;
    text-align: center;
    font-size: 2vh;
}

#contato a {
    background-color: rgb(9, 56, 78);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 11vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
    border: 0.2vh solid #000000;
}

#contato a:hover {
    transform:scale(1.1);
}

@media (max-width: 1024px) {

    header {
        height: auto;
        padding: 2vh 0;
    }

    #navegacao {
        gap: 3vh;
        margin-left: 4vh;
        font-size: 2vh;
    }

    #imagem-logo {
        width: 8vh;
        margin-right: 4vh;
    }

    footer {
        padding: 2vh;
        text-align: center;
    }

    #texto-contato {
        gap: 1.5vh;
    }
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        justify-content: center;
        gap: 2vh;
        height: auto;
        padding: 3vh 0;
    }

    #navegacao {
        margin: 0;
        gap: 2vh;
        font-size: 2vh;
        text-align: center;
    }

    #imagem-logo {
        margin: 0;
        width: 9vh;
    }

    footer {
        flex-direction: column;
        gap: 2vh;
        padding: 2.5vh;
        text-align: center;
    }

    #texto-contato {
        flex-direction: column;
        gap: 1vh;
    }

    #contato a {
        width: 15vh;
        height: 4.5vh;
    }
}

@media (max-width: 480px) {

    #navegacao {
        gap: 1.5vh;
        font-size: 1.8vh;
    }

    #imagem-logo {
        width: 8vh;
    }

    #contato a {
        width: 17vh;
        height: 5vh;
        font-size: 1.7vh;
    }
}

