@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 12vh;
    background-color: rgb(57, 86, 139);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navegacao {
    display: flex;
    flex-direction: row;
    gap: 6vh;
    margin-left: 7vh;
    color: white;
    font-size: 2vh;
    font-family: "Jost", sans-serif;
    font-style: oblique;   
    text-decoration: underline rgb(255, 230, 0) 2.3px;
}


#imagem-logo {
    width: 10vh;
    border-radius: 100%;
    margin: 3vh;
    margin-right: 7vh;
}

main {
    height: 89vh;
    background-color: rgb(9, 56, 78);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(241, 240, 175);
    transform: scale(1.03);
}

#apresentacao {
    color: white;
    width: 160vh;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
}

#img-titulo {
    background-image: url("../img/folha-engenheiro.jpeg");
    width: 48%;
    height: 100%;
    border-radius: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6vh  rgb(0, 0, 0);
}

#titulo {
    width: 100%;
    height: 100%;
    border-radius: 15vh;
    background-color: rgba(22, 2, 54, 0.39);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Abril Fatface", sans-serif;
    font-size: 8vh;
}

#espaco-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

#simbolo {
    height: 20vh;
}

#texto {
    font-family: "Jost", sans-serif;
    margin: 5vh;
    margin-top: 0;
    font-size: 2vh;
    text-align: center;
}

#texto-navegue {
    font-family: "Jost", sans-serif;
    margin: 5vh;
    font-size: 2.5vh;
    text-align: center;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(57, 86, 139);
    color: white;
    gap: 1vh;
    font-family: "Jost", sans-serif;
}

#meu-nome {
    margin-top: 3vh;
}

#contato {
 display: flex;
 align-items: center;
 justify-content: baseline;
 flex-direction: column;
 gap:1vh;
 margin-bottom: 3vh;
}

#texto-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.texto-bloco-contato {
    margin-top: 0;
    text-align: center;
    font-size: 2vh;
}

#contato a {
    background-color: rgb(9, 56, 78);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 11vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
    border: 0.2vh solid #000000;
}

#contato a:hover {
    transform:scale(1.1);
}

